.App {
  text-align: center;
}

body {
  background-color: #f3f3f3;
}

.wrapper {
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 4px;
  width: 780px;
  margin: 120px auto 20px;
  display: flex;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #cecece;
  padding: 20px;
}

.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content {
  min-height: 400px;
  border-bottom: 1px solid #eae7e7;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.item {
  padding: 5px 10px;
  border: 1px solid #cecece;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.item a {
  text-decoration: none;
  color: #5a5a5a;
}

.current-item {
  color: greenyellow;
  border-color: greenyellow;
}

.current-item a {
  color: greenyellow;
}

button {
  padding: 0 10px;
  height: 30px;
  background-color: #5a5a5a;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.3s ease-out;
}

button:disabled {
  background: #cecece;
  border: 1px solid #cecece;
}

button:active,
button:focus {
   box-shadow: none !important;
   outline: none;
}

.progressButton {
  background: #fff;
  border: 1px solid #24a3e0;
  height: 32px;
  width: 32px;
  min-width: 32px;
  color: #24a3e0;
  font-size: 16px;
}

.progressBarWrapper {
  display: flex;
}

.progressBarBlock {
  height: 30px;
  width: 100%;
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 0 3px;
}

.progressColor {
  background-color: #24a3e0;
  height: 100%;
}
